// Placeholder to allow overriding predefined variables smoothly.

$dons-green:            #00543C;
$dons-yellow:           #FDBB30;
$dons-teal:             #008575;
$dons-magenta:          #8E0F75;
$dons-red:              #B30000;
$dons-orange:           #EB821E;
$dons-lime:             #AED136